[Desktop Entry]
Type=Application
Name=greekchareditor
GenericName=Tool
Comment=template application
Exec=sh -c 'java -jar ~/apps/greekchareditor/greekchareditor.jar'
Icon=~/apps/greekchareditor/img/icon.png
